<h1>ととのいLABとは？</h1>

<p>
  ととのいLABはサウナーのためのコミュニティサイトです。</br>
  サウナ好きの方のととのえ方を見てみるのもよし！</br>
  サウナ好きの方と交流してみるもよし！</br>
  使い方はあなた次第！</br>
  また、自分のサ活記録の記録もできる！</br>
  ぜひこのととのいLABでもう一段階上のととのいへ、、、
</p>

<h2>ととのいLABでできること</h2>
<p>サ活の投稿/閲覧</p>
<p>サウナーとの交流</p>
<p>自分ののサ活記録</p>